@import "tailwindcss";

body {
  background-color: #070b19;
  color: white;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #070b19; }
::-webkit-scrollbar-thumb { background: #7C3AED; border-radius: 10px; }

/* Animated Floating Watermark Effect */
@keyframes float {
  0% { transform: translateY(0px) scale(1); }
  50% { transform: translateY(-15px) scale(1.02); }
  100% { transform: translateY(0px) scale(1); }
}
.animate-float {
  animation: float 8s ease-in-out infinite;
}